<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Monogo\TypesenseSynonyms\Api\Data\SynonymInterface" type="Monogo\TypesenseSynonyms\Model\Data\Synonym"/>
    <preference for="Monogo\TypesenseSynonyms\Api\SynonymRepositoryInterface" type="Monogo\TypesenseSynonyms\Model\SynonymRepository"/>
    <!-- region Admin UI component config -->
    <virtualType name="SynonymsGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">typesense_synonym</argument>
            <argument name="resourceModel" xsi:type="string">Monogo\TypesenseSynonyms\Model\ResourceModel\Synonym</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="synonym_items_listing_data_source" xsi:type="string">SynonymsGridCollection</item>
            </argument>
        </arguments>
    </type>
    <!-- endregion -->
</config>
